{% extends "base.html" %}
{% block title %}Rankr{% endblock %}

{% block content %}
        <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 style="text-align: center;">{{ listName }}</h2>
          <hr><br><br>
        </div>
      </div>

    <form method="POST">
    <div style="float: left; margin-left: 15%;">
        <input type="image"  name = "submit" value = "{{ first.id }} {{ second.id }}" src="http://placehold.it/200x200?text={{ first.name }}" alt=""/ style="width: 200%;">
    </div>
    <div style="float: right; margin-right: 28%;">
        <input type="image"  name = "submit" value = "{{ second.id }} {{ first.id }}" src="http://placehold.it/200x200?text={{ second.name }}" alt="" style="width: 200%;" />
   </div>
    </form>

{% endblock %}